<!DOCTYPE html>
<html>
<head>
    <title>Menú Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Botones del menú principal -->
    <form action="{{ url_for('ejercicio1') }}">
        <button type="submit" class="menu-button">Ejercicio 1</button>
    </form>

    <form action="{{ url_for('ejercicio2') }}">
        <button type="submit" class="menu-button">Ejercicio 2</button>
    </form>

    <form action="{{ url_for('salir') }}">
        <button type="submit" class="menu-button">Salir</button>
    </form>
</body>
</html>
